.content-container{
    color: #555;
}
.navbar{
    font-size: 18px;
}

.carousel-inner{
    width: 100%;
}
.carousel-inner .item{
    width: 100%;
}
.banner-image{
    width: 100%;
}

.page-mid-title h2{
    text-align: center;
}


.recommend-box{
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.recommemd-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 240px;
}

.footer{
    background-color: #333;
    color: #fff;
    height: 100px;
    padding: 30px 0;
}

.footer p{
    text-align: center;
}

/*mall*/
.mall-category-box{
    padding-right: 0;
}
.mall-category-box .list-group-item{
    padding: 13px;
}
/*end of mall*/

/*usercenter*/
.portrait-bar{
    background: #333 url(../img/bgc.jpg) repeat-x fixed top;;
    color: #fff;
    padding: 30px;
}
.portrait-bar .portrait-box{
    text-align: center;
}
.portrait-bar .username{
    font-size: 30px;
    margin: 30px;
}
.portrait-bar .member{
    margin: 30px;
}
.portrait-bar .member-crown{
    width: 30px;
    height: 30px;
}
.portrait-bar .member-level{
    font-size: 24px;
    margin-left: 10px;
}
.portrait-bar .member-text{
    font-size: 20px;
}
.portrait-bar .credit-box{
    margin: 50px
}
.portrait-bar .credit-amount{
    color: #FFFF66;
    font-size: 24px;

}
.portrait-bar .credit-text{
    margin-left: 10px;
    font-size: 20px;
}

.grade-progress{
    margin: 20px 0;
}

.usercenter-left-part{
    margin: 30px 0;
}
.usercenter-left-part .panel-heading{
    font-size: 20px;
}
.usercenter-left-part li{
    font-size: 18px;
}
/*end of usercenter*/

/*login*/
.login-box{
    margin: 50px 0;
}
.login-form{
    padding: 20px;
}

.credit-rules{
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px; 
}
.credit-rules h4{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}
.credit-rules li{
    font-size: 16px;
}
.membergrade-table{
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.membergrade-table h4{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

.membergrade-table th{
    text-align: center;
}

/*end of login*/

/*message*/
.nav-tabs{
    margin: 20px;
}
.message-box{
    /*height: 60px;*/
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;

}
.media-object{
    height: 64px;
    width: 64px;
}
.messagerightbox{
    color: #ccc;
    width: 100px;
    font-size: 16px;
}
/*end of message*/

/*shopingcart-bar*/
.shoppingcart{
    margin: 20px;
}
.shoppingcart-bar{
    background-color: #ccc;
    font-size: 16px;
}
.shoppingcart-bar .text{
    line-height: 40px;
}
.order-product img{
    width: 64px;
    height: 64px;
}
.order-product-name{
    font-size: 18px;
}
.shoppingcart-item{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 20px 0;
}
.price{
    line-height: 60px;
    color: orange;
}
.amount{
    line-height: 60px;
}
.operate{
    color: #ccc;
    line-height: 60px;
}
.shoppingcart-total{
    font-size: 18px;
    text-align: right;
    line-height: 50px;
}
.shoppingcart-total span{
    color: red;
    font-weight: bolder;
}
.shoppingcart-total button{
    width: 100%;
    height: 50px;
}
.commodity-box{
    border: 1px dashed #ccc;
    /*margin: 10px;*/
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.commodity-img{
    width: 200px;
    height: 200px;
}
.commodity-title{
    font-size: 16px;
    margin-top: 10px;
}
.commodity-price{
    font-size: 16px;
}
.commodity-price > span{
    color: orange;
}
.guessyoulike{
    margin: 20px;
}
/*end of shopingcart-bar*/

/*mall-category*/
.filterbox{
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 10px 0;
}
.filtername{
    background-color: #ccc;
    padding: 10px;

}
.filterclass{
    margin: 10px;
    padding: 10px;
}
.filterclass > .active{
    color: red;
}
.filterboxhr{
    margin: 0 20px;
    padding: 0;

}
.filterclasstitle{
    font-weight: bold;
}
.filterclassitem{
    margin: 0 10px;
}
.orderbox{
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
}
.ordername{
    font-weight: bold;
}
.orderitem{
    margin: 0 10px;
}
.hotcommodity{
    
}
.hotcommodity > h5{
    color: red;
    font-size: 16px;
}
.paginationbox{
    text-align: center;
}
/*end of mall-category*/

/*creditrecord*/
.creditrecord-box{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 10px;
}
.creditrecord-box th{
    text-align: center;
}
.creditrecord-box h2{
    margin-bottom: 20px;
    font-size: 20px;
}
.creditrecord-box h2>span{
    color: orange;
    margin-left: 10px;
    font-size: 26px;
} 
.checkcreditrules{
    float: right;
}
/*end of creditrecord*/

